@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

.page-background {
    height: 1024px;
    background-color: #fafafa;
}

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-box-container {
    width: 745px;
    height: 95%;
    margin-top: 19px;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
}
.right-box-container {
    width: 745px;
    height: 955px;

    margin-left: 19px;
    margin-top: 19px;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
}

.header-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85px;
}

.header-flex {
    display: flex;
    width: 662px;
    align-self: center;
    justify-content: space-between;
}

.right-btns {
    display: flex;
    justify-content: space-evenly;
}

.back-btn {
    width: 127px;
    height: 39px;
    left: 88px;
    top: 108px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.edit-btn {
    width: 79px;
    height: 39px;
    left: 468px;
    top: 108px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.apply-btn {
    width: 191px;
    height: 39px;
    left: 561px;
    top: 108px;
    box-sizing: border-box;
    background: #2462eb;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-left: 14px;
}

.information-container {
    display: flex;
    flex-direction: column;
}

.info-box {
    display: flex;
    justify-content: flex-start;
}

.information-body-container {
    display: flex;
    flex-direction: column;
}

.info-box-left-container {
    display: flex;
    justify-content: center;
    margin-bottom: 13px;

    width: 664px;
    height: 25px;
    left: 88px;
    top: 218px;
    margin-left: 42px;
    background: #ffffff;
    border: 1px solid #dcdee1;
    border-radius: 5px 0px 0px 5px;
    width: 120px;
}

.info-box-right-container {
    display: flex;
    justify-content: flex-start;
    background: #ffffff;
    border: 1px solid #dcdee1;
    border-radius: 0px 5px 5px 0px;
    width: 544px;
    height: 25px;
}

.shift-name {
    width: auto;
    height: 32px;
    left: 90px;
    top: 182px;

    margin-left: 42px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}

.info-title {
    width: 47px;
    height: 18px;
    left: 126px;
    top: 222px;
    align-self: center;
    margin-bottom: 0px !important;
    font-family: "Inter" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #686868 !important;
}

.info-body {
    width: 400px;
    height: 15px;
    margin-bottom: 0px !important;
    margin-left: 4px;
    align-self: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.description-container {
    display: flex;
    justify-content: center;
}

.description-body-container {
    width: 667px;
    height: 241px;
}

.description-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.notes-container {
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    height: 65px;
}

.cancel-shift-btn {
    width: 191px;
    height: 39px;
    left: 319px;
    top: 945px;
    background: #2462eb;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.addressIcon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: 2px;
}

.venueIcon {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    margin-top: 5px;
}

.dateIcon {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    margin-top: 5px;
}

.timeIcon {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    margin-top: 5px;
}
