@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

.shift-page-container {
    width: 745px;
    height: 915px;
    left: 46px;
    top: 82px;
    margin-left: 5%;
    margin-top: 19px;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
}

.header-button-container {
    display: flex;
    justify-content: space-between;
}

.information-container {
    display: flex;
    flex-direction: column;
}

.info-box {
    display: flex;

    margin-bottom: 13px;

    width: 664px;
    height: 26px;
    left: 88px;
    top: 218px;
    display: flex;
    margin-left: 42px;
    background: #ffffff;
    border: 1px solid #dcdee1;
    border-radius: 5px;
}

.line {
    width: 24px;
    height: 0px;
    left: 208px;
    top: 219px;
    margin-top: 11px;
    margin-left: 120px;
    border: 0.5px solid #dcdee1;
    transform: rotate(90deg);
}

.shift-name {
    width: auto;
    height: 32px;
    left: 90px;
    top: 182px;

    margin-left: 42px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}

.info-title {
    width: 47px;
    height: 18px;
    left: 126px;
    top: 222px;

    font-family: "Inter" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #686868 !important;
}

.info-body {
    width: 151px;
    height: 15px;
    left: 215px;
    top: 223px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}
