@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

.page-background {
    height: 1440px;
    background-color: #fafafa;
}

.shift-info-page-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
}

.left-box-container {
    width: 45%;
    height: 70%;
    margin-top: 19px;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
}
.right-box-container {
    width: 45%;
    margin-left: 19px;
    margin-top: 19px;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
}

.header-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: auto;
}

.header-flex {
    display: flex;
    width: 90%;
    align-self: center;
    margin-top: 20px;
    justify-content: space-between;
}

.right-btns {
    display: flex;
    justify-content: space-evenly;
}

.back-btn {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    width: 144px;
    height: 38px;
    left: 88px;
    top: 108px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.back-btn:hover {
    border: 1px solid #7b7982;
    background: #f9fafa;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 79px;
    height: 39px;
    left: 468px;
    top: 108px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.edit-icon {
    margin-top: 3px;
    margin-right: 5px;
}

.edit-btn:hover {
    border: 1px solid #7b7982;
    background: #f9fafa;
}

.apply-btn {
    width: 191px;
    height: 39px;
    left: 561px;
    top: 108px;
    box-sizing: border-box;
    background: #2462eb;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-left: 14px;
}

.apply-btn:hover {
    background: #0c50e3;
}

.information-container {
    display: flex;
    flex-direction: column;

    width: 90%;
}

.info-box {
    display: flex;
    justify-content: flex-start;
}

.information-body-container {
    display: flex;
    flex-direction: column;
}

.info-box-left-container {
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
    height: 25px;
    left: 88px;
    top: 218px;
    margin-left: 30px;
    background: #ffffff;
    border: 1px solid #dcdee1;
    border-radius: 5px 0px 0px 5px;
    width: 25%;
}

.info-box-right-container {
    display: flex;
    justify-content: flex-start;
    background: #ffffff;
    border: 1px solid #dcdee1;
    border-radius: 0px 5px 5px 0px;
    width: 70%;
    height: 25px;
}

.shift-name {
    width: auto;
    height: 32px;
    left: 90px;
    top: 182px;

    margin-left: 42px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}

.info-title {
    width: auto;

    height: 18px;
    left: 126px;
    top: 222px;
    align-self: center;
    margin-bottom: 0px !important;
    font-family: "Segoe UI" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #686868 !important;
}

.info-body {
    width: auto;
    height: 15px;
    margin-bottom: 0px !important;
    margin-left: 4px;
    align-self: center;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.description-container {
    display: flex;
    justify-content: center;
}

.description-body-container {
    width: 90%;
    height: 241px;
}

.description-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.notes-container {
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    height: 65px;
}

.cancel-shift-btn {
    width: 191px;
    height: 39px;
    left: 319px;
    top: 945px;
    background: #2462eb;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.cancel-shift-btn:hover {
    background: #0c50e3;
}

.addressIcon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: 2px;
}

.venueIcon {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    margin-top: 5px;
}

.dateIcon {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    margin-top: 5px;
}

.timeIcon {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    margin-top: 5px;
}

.header-right-box-container {
    display: flex;
    justify-content: space-around;
    height: 70px;
}

.right-box-header-flex {
    display: flex;
    width: 662px;
    align-self: center;
    justify-content: space-between;
}

.right-box-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 0px !important;
    margin-top: 6px;

    color: #000000;
}

.participants-btn {
    width: 155px;
    height: 39px;
    left: 1223px;
    top: 108px;
    box-sizing: border-box;
    background: #2462eb;
    border: 1px solid #bab7b7;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.participants-btn:hover {
    background: #0c50e3;
}

.right-box-header-divider {
    margin-bottom: 0px !important;
}

/* .volunteer-table-container {
    height: 230px;
} */

.calendar-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 0px !important;
    margin-top: 6px;
    margin-left: 35px;
    color: #000000;
}

.calendar-title-divider {
    margin-top: 10px !important;
}

.calender-title-box {
    height: 50px;
}

.select-role-title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.select-role-list {
    list-style: none;
}

.select-role-list input {
    margin-right: 10px !important;
}

.select-role-list input::checked {
    border-style: none;
}

.select-role-form {
    display: flex;
    flex-direction: column;
}

.select-role-button-div {
    display: flex;
    justify-content: center;
}
.select-role-submit-button {
    width: 30%;
    margin-bottom: 20px;
}
