.add-address-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ececec;
    border-radius: 20px;
    padding: 20px;
}

.add-address-form input[type="text"],
.add-address-form select {
    height: 40px;
    width: 360px;
    border-radius: 10px;
    margin: 0px 70px 20px 70px;
    background: #f9f9f9;
    border: 1px solid #f0eaea;
    padding-left: 10px;
}

.add-address-form label {
    margin: 0px 70px 5px 70px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}

.add-address-form .btn {
    width: 150px;
    border-radius: 10px;
    font-family: "Lato";
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    border: 0;
    color: #fffdfd;
    margin: 20px 70px;
}

.add-address-form .btn-primary {
    background: #3a5fe2;
}

.add-address-form .btn-secondary {
    background: #686868;
}

.add-address-form .btn:focus {
    outline: 3px solid #a1a1d5;
}

.add-address-form .error-message {
    color: rgb(255, 68, 68);
    text-align: center;
    margin: 10px 70px;
}

/* Additional styles can be added here for other elements as needed */
