.add-shift-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ececec;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    outline: none;
}

.add-shift-form input {
    left: 27.85%;
    right: 32.78%;
    top: 14.31%;
    bottom: 82.96%;

    margin: 0px 70px 28px 70px;

    background: #f9f9f9;
    border: 1px solid #f0eaea;
    border-radius: 18px;
}

.add-shift-form textarea {
    left: 27.85%;
    right: 32.78%;
    top: 14.31%;
    bottom: 82.96%;

    margin: 0px 70px 28px 70px;

    background: #f9f9f9;
    border: 1px solid #f0eaea;
    border-radius: 18px;
}

.add-shift-form label {
    left: 27.85%;
    right: 68.75%;
    top: 12.05%;
    bottom: 85.39%;

    margin: 0px 70px 5px 70px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    color: #000000;
}
