.shift-body-container h1 {
    font-family: "Inter" Import !important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;

    color: #000000;
}

.shift-body-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 50px !important;
}

.shift-body-container p {
    font-family: "Inter" Import !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: justify;

    color: #000000;
}

.shift-body-container h2 {
    font-family: "Inter" Import !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.shift-body-container body {
    padding: 20px !important;
}

.shift-body-container Button {
    align-self: center;
    margin-left: 40%;
    margin-top: 30px;
}
