
.filter-modal .modal-content {
    background: #8f8f8f;
 
}

.filter-modal .modal-body {
    display: flex;
    padding: 0;

}

.filter-modal .modal-header {
    border-bottom: 3px solid #3a5fe2;
    background-color: #f4f4f4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  
}

.left-section {
    height: 100%;
    width: 200px;
    padding: 1rem;
    min-height: 400px;
    background-color: #f4f4f4;
    justify-content: space-between; /* Align items with space between */
    text-align: left; /* Align text to the left */
    padding: 5%;
    border-bottom-left-radius: 10px;
    
}

.right-section {
    background: #dcdcdc;
    padding: 1rem;
    flex-grow: 1;
    border-bottom-right-radius: 10px;
}

.filter-modal label {
    margin: 20px 0px 20px 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    color: #000000;
}

.filter-modal .left-section button {
    background-color: transparent;
    border: none;
    color: black;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    padding: 10%;
     
}

.filter-modal .left-section button:hover {
    font-weight: 900px;
    background-color: #3a5fe2;
    color: #ffffff;
    border-radius: 8px;
  

    
}

.filter-modal label:first-child {
    margin-top: 0px;
}

.date {
    height: 40px;
    align-self: center;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    text-indent: 8px;
}

.filter-modal .filter-date-input {
    background: #ffffff;
    border: 1px solid #f5f2f2;
    width: 100%;
    border-radius: 10px;
}

.filter-modal .react-datetime-picker__wrapper {
    border: none;
    padding: 5px;
}

.filter-modal select {
    width: 100% !important;
}

.filter-buttons {
    position: absolute;
    direction: rtl;
    bottom: 20px;
    right: 0;
    padding: 0 1rem;
}

.availability-filter {
    display: flex;
    gap: 30px;
}



.availability-radio-buttons input[type="radio"] {

    width: 20px; /* Adjust width and height to make the radio button bigger */
    height: 20px;
    outline: none; /* Remove outline when focused */
    padding-right: 5%;
    gap: 5%;
    padding: 10%;
    cursor: pointer;

}

.availability-radio-buttons {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 10px; /* Adjust the gap between the radio button and label */
    margin-top: -3%;
}
