.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.header-container h1 {
    margin-left: 89px;
}

.btn-container {
    position: static;
    display: flex;
    justify-content: space-between;
}

.btn-container button {
    margin-right: 48px;
    vertical-align: middle;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.modal-content {
    background: #ffffff;

    border-radius: 20px;
}
