.page-container {
    display: flex;
    flex-direction: column;
}
.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.header-container h1 {
    margin-left: 89px;
}

.btn-container {
    position: static;
    display: flex;
    justify-content: space-between;
}

.btn-container button {
    margin-right: 48px;
    vertical-align: middle;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
}

.modal-content {
    background: #ffffff;

    border-radius: 20px;
}

.shiftList-container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    align-self: center;
}
