.page-container {
    display: flex;
    flex-direction: column;
}
.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.header-container h1 {
    margin-left: 89px;
}

.btn-container {
    position: static;
    display: flex;
    justify-content: space-between;
}

.btn-container button {
    margin-right: 48px;
    vertical-align: middle;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
}

.modal-content {
    background: #ffffff;

    border-radius: 20px;
}

.shiftList-container {
    display: grid;
    width: 80%;
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    align-self: center;
    margin-right: 150px;
}

#whiteButton {
    width: 248px;
    height: 63px;
    left: 561px;
    top: 125px;
    font-family: "Lato" Import !important;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 0;
    outline: none;
}

#whiteButton:hover {
    transform: translateY(-0.25em);
    background: #ffffff;
}

.btn-icon {
    margin-right: 20px;
}

.export-parent {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.export-parent button {
    border-radius: 4rem;
    padding: 0.9rem 1.75rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(255, 253, 253);
    font-family: Lato;
    font-style: normal;
    border: 0;
}
